@{ ViewBag.Title = "Error Controlado"; }
<div class="text-center">
    <h1> Se ha producido un Error controlado</h1>
    @ViewBag.errormessage
    <br />
    <img src="~/images/error.png" style="width:40%" />
</div>
